<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a routerLink="">My Pay Application</a>
    </header>
    <ul class="nav">
      <li>
        <a routerLink="dashboard"
          ><i class="zmdi zmdi-view-dashboard"></i> Dashboard</a
        >
      </li>
      <li>
        <a routerLink="createapplication"
          ><i class="zmdi zmdi-plus-circle"></i> Create New Application
        </a>
      </li>

    </ul>
  </div>

  <!-- Content -->
  <div id="content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

